@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  height: 100%;
  color: #fff;
  overflow-x: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container {
  margin: 50px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 15px;
}

@media only screen and (max-width: 60em) {
  .container {
    margin: 0;
    gap: 0;
  }
}

@media only screen and (max-width: 45em) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

iframe {
  height: 500px;
  width: 400px;
  border: none;
}

@media only screen and (max-width: 45em) {
  iframe {
    height: 100vh;
  }
}
