@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

// Responsive Breakpoint
$bp-large: 60em;        //960px
$bp-medium: 45em;       //720px
$bp-small: 35em;        //512x
$bp-smallest: 28em;     //448px

body {
    height: 100%;
    color: #fff;
    overflow-x: hidden;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    margin: 50px 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
        padding: 10px 0;
    }

}
